<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570310532098-mimu4r8msdljjk2d3l9d6p9jt62cian0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570310532098-mimu4r8msdljjk2d3l9d6p9jt62cian0</string>
	<key>API_KEY</key>
	<string>AIzaSyAAS0ShBVIXj5f0qQf8k7NyzeJ4JNrD6Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>570310532098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyohei.KakeiboApp</string>
	<key>PROJECT_ID</key>
	<string>kakeiboapp-22658</string>
	<key>STORAGE_BUCKET</key>
	<string>kakeiboapp-22658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570310532098:ios:28406e23f2db21f1db9b1b</string>
</dict>
</plist>